<div class="footer footer--dark">
	<div class="container">
		<div class="footer__inner">
			<a href='/' class="footer__textLogo">Heart Disease</a>
			<div class="footer__data">
				<div class="footer__data__item">
					<div class="footer__row">
						<span class="footer__heading">Content</span>
					</div>
					<div class="footer__row">
						by Lea Schneider
					</div>
					<div class="footer__row">
						by Marius Memmel
					</div>
					<div class="footer__row">
						by Paul Hermany
					</div>
					<div class="footer__row">
						by Clemens Ulbrich
					</div>
				</div>
				<div class="footer__data__item">
					<div class="footer__row">
						<span class="footer__heading">Theme</span>
					</div>
					<div class="footer__row">
						Created by <a href="https://twitter.com/ninalimpi" target="_blank" class="footer__link">Katerina
							Limpitsouni</a>
					</div>
					<div class="footer__row">
						Code/design by <a href="https://twitter.com/anges244" target="_blank"
							class="footer__link">Aggelos Gesoulis</a>
					</div>
					<div class="footer__row">
						Vector Illustrations by <a href="https://undraw.co/" target="_blank"
							class="footer__link">unDraw</a>
					</div>
				</div>
				<div class="footer__data__item">
					<div class="footer__row">
						<a href="https://github.com/memmelma/kuenstliche_intelligenz" target="_blank" class="footer__link">GitHub</a>
					</div>
					<div class="footer__row">
						<a href="https://www.kaggle.com/veygam/ki-project-heart-disease" target="_blank" class="footer__link">Kaggle</a>
					</div>
					<div class="footer__row">
						<a href="/additional" class="footer__link">MIT license</a>
					</div>
				</div>
			</div>
		</div>
	</div>