<!DOCTYPE html>
<html lang='en'>

<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Heart Disease</title>
	<%_ currentPage = "" _%>
	<% include ./partials/metadata %>
	<link rel='stylesheet' href='<%= asset("css/style.min.css") %>' />
</head>

<body>
	<% include ./partials/nav %>
	<!-- Hero unit -->
	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<div class="hero__content">
					<div class="hero__content__inner" id='navConverter'>
						<h1 class="hero__title">Analyse und Modeling</h1>
						<p class="hero__text">Um ein besseres Verständnis des Datensatzes zu bekommen, werden die Features mit Hilfe von Diagrammen visualisiert und analysiert. Anschliessend können dann Modelle trainiert werden, um eine Vorhersage zu treffen.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__sub">
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
				y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512"
				style="enable-background:new 0 0 512 512;" xml:space="preserve">
				<path
					d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z" />
				</svg>
		</span>
	</div>
	<div class="steps landing__section">
		<div class="container">
			<h2>Welche Modelle haben wir verwendet?</h2>
			<p>Im folgenden sind die verwendeten Modelle und ihre erziehlte Accuracy sowohl mit, als auch ohne Cross Validation aufgelistet.</p>
		</div>
		<div class="container">
			<div class="steps__inner">
				<div class="step">
						<div class="step__media">
							<img src="./images/undraw_blank_canvas_3rbb.svg" class="step__image">
						</div>
						<h4>Dummy Classifier</h4>
						<p class="step__text"><b>Accuracy:</b> 0.639</p>
						<p class="step__text"><b>Accuracy CV:</b> -</p>
					</div>
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_Golden_gate_bridge_laqs.svg" class="step__image">
					</div>
					<h4>Linear Classifier</h4>
					<p class="step__text"><b>Accuracy:</b> 0.737</p>
					<p class="step__text"><b>Accuracy CV:</b> 0.885</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_hang_out_h9ud.svg" class="step__image">
					</div>
					<h4>K-Nearest-Neighbor</h4>
					<p class="step__text"><b>Accuracy:</b> 0.836</p>
					<p class="step__text"><b>Accuracy CV:</b> 0.901</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_japan_ubgk.svg" class="step__image">
					</div>
					<h4>Decision Tree</h4>
					<p class="step__text"><b>Accuracy:</b> 0.819</p>
					<p class="step__text"><b>Accuracy CV:</b> 0.819</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_festivities_tvvj.svg" class="step__image">
					</div>
					<h4>Random Forest</h4>
					<p class="step__text"><b>Accuracy:</b> 0.819</p>
					<p class="step__text"><b>Accuracy CV:</b> 0.868</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Expanded sections -->
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/Sex_ohneTitel.png" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Geschlechterverteilung der Patienten</h2>
					<p class="expanded__text">Der Datensatz enthält 96 weibliche und 207 männliche Patienten. Damit ist der Datensatz hinsichtlich der Geschlechteraufteilung hin zu männlichen Geschlechtern verzerrt, da fast doppelt so viele Daten zu Männern, als zu Frauen vorliegen.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/Age.png" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Alter der Patienten abhängig vom Geschlecht</h2>
					<p class="expanded__text">Sowohl bei weiblichen, als auch bei männlichen Patienten liegen die meisten daten für Personen zwischen 40 und ca. 75 Jahren vor.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/Target.png" style="max-width:350px" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Verteilung der Präsenz von Herzkrankheit</h2>
					<p class="expanded__text">Hinsichtlich der Präsenz von Herzkrankheiten ist der Datensatz "relativ" ausbalanciert. Somit hat das ML Modell eine augeglichene Informationsbasis für die Klassifizierung von gesunden und kranken Patienten.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/Herzkrankheit_Sex.png" style="max-width:350px" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Präsenz von Herzkrankheiten nach Geschlechtern</h2>
					<p class="expanded__text">Der Graphik zufolge sind unter den Patienten ohne Herzkrankheiten deutlich mehr Männer als Frauen. Das Modell könnte demnach bei der Klassifizierung von gesunden Patienten daher möglicherweise "biased" bzw. voreingenommen sein und Männer tendenziell öfter als nicht herzkrank einstufen. Jedoch muss bei der Graphik die ungleiche Geschlechterverteilung innerhalb des Datensatzes beachtet werden.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/Schmerzkategorien.png" style="max-width:450px"  class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Verteilung der Schmerzkategorien</h2>
					<p class="expanded__text">Fast 50% aller Patienten haben ein typisches Beklemmungsgefühl im Herzbereich, auch Angina genannt. Die verbleibenden Testpersonen teilen sich zu ungefähr gleichen Teilen auf untypische Beklemmungserscheinungen und nicht präsente Symptome auf.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/Schmerzkategorien_Disease.png" style="max-width:350px" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Schmerzkategorien gemappt zu vorhandenen Herzkrankheiten</h2>
					<p class="expanded__text">Entgegen der gängigen Vermutung, dass anginale Schmerzen stark mit Herzkrankheiten korrelieren, sind vor allem nicht-angila und untypische Schmerzen Zeichen für eine Herzkrankheit.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/Ruhepuls.png" style="max-width:350px" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Werteverteilung Ruhepuls</h2>
					<p class="expanded__text">Der obigen Graphik kann entnommen werden, dass die Mehrheit aller Patienten in ihren Ruhepuls-Werten um Durchschnittswerte zentriert ist. Aus diesem Grund lässt sich vermuten, dass der Ruhepuls als solches nicht direkt mit dem Label korreliert.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/Chol.png" style="max-width:350px" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Werteverteilung der Cholesterin-Konzentration in mg/dl</h2>
					<p class="expanded__text">In Bezug auf die Cholesterin Konzentration der Patienten lässt sich ein ähnliches Phänomen feststellen. Auch hier wird eine geringe Korrelation mit dem Label vermutet, da sich ein Großteil der Cholesterin Werte des Datensatzes um einen normalen bzw. durchschnittlichen Wertebereich ansiedeln.

							Hinweis: Zunächst wurde der Wert von über 500 mg/dl Cholesterin als Outlier betrachtet, weitere Recherchen ergaben, dass ein derartiger Wert allerdings durchaus bei spezifischen Herzkrankheiten auftreten kann.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/undraw_warning_cyit.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Risiken eines kleinen Datensatzes</h2>
					<p class="expanded__text">Der Datensatz hatte ungefähr 300 Einträge. Unter den Gesichtspunkten des Machine Learning ist dies als verhältnismässig klein zu betrachten, da der Datensatz zudem in Trainings- und Testset eingeteilt werden muss, was diesen nochmals verkleinert. Damit ergeben sich das Risiko, dass die Repräsentativität und die Fähigkeit der Generalisierung auf unbekannte Eingangsdaten beeinträchtigt werden.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Call To Action -->
	<div class="cta cta--reverse">
		<div class="container">
			<div class="cta__inner">
				<h2 class="cta__title">Selbst ausprobieren</h2>
				<p class="cta__sub cta__sub--center">Lade dir unser Jupyter Notebook und den Datensatz herunter und
					führe die Analysen selbst durch.</p>
				<a href="https://github.com/memmelma/kuenstliche_intelligenz" class="button button__accent">Download
					Notebook</a>
				<a href="/" class="button hero__button">Main Page</a>
			</div>
		</div>
	</div>
	<% include ./partials/footer %>
	<script src='<%= asset("js/app.min.js") %>'></script>
	<% include ./partials/analytics %>
</body>

</html>